body{
	margin: 0;
	padding: 16px;
}

b{
	color: #fff;
	background: #000;
}

input{
	text-align: right;
}


table{
	background: #000;
}

textarea{
	width:360px;
	height:90px;
}

th,td{
	background: #fff;
}



#showInfoArea{
	overflow: scroll;
	font-family: courier;
}