@media (prefers-color-scheme: light) {
	body {
		background: #fff;
		color: #000;
	}

	input,
	textarea {
		background: #e0e0e0;
	}

	.error {
		background: #f88;
		color: #400;
	}

	.pause {
		background: #ffc;
	}

	.complete {
		background: #cfc;
	}

	.scrollable {
		border: solid #ddd 2px;
	}

	.information {
		color: #000;
	}

	.testTableTr {
		background: #ddd;
	}

	.testTableTd {
		background: #e0e0e0;
	}

	.testTableTd.complete {
		background: #cfc;
	}

	.testTableTd.error {
		background: #f88;
		color: #400;
	}

	.information .target {
		background: black;
		color: white;
	}

	::placeholder {
		color: #88f;
	}
}

@media (prefers-color-scheme: dark) {
	body {
		background: #222;
		color: #ccc;
	}

	input,
	textarea {
		background: #000;
		color: #ccc;
	}

	button {
		color: #aaa;
		background: #444;
	}

	.error {
		background: #844;
		color: #400;
	}

	.pause {
		background: #442;
	}

	.complete {
		background: #242;
	}

	.scrollable {
		border: solid #444 2px;
	}

	.information {
		color: #ccc;
	}

	.information .target {
		background: #e0e0e0;
		color: #000;
	}

	.testTableTr {
		background: #444;
	}

	.testTableTd {
		background: #222;
	}

	.testTableTd.complete {
		background: #242;
	}

	.testTableTd.error {
		background: #844;
		color: #400;
	}

	::placeholder {
		color: #448;
	}
}

* {
	padding: 0;
	margin: 0;
	font-size: 16px;
}

body {
	padding: 8px;
}

input,
textarea {
	border: 0;
}

textarea {
	font-family: 'Courier New', Courier, monospace;
	width: 100%;
	height: 8em;
}

input {
	text-align: right;
}

button {
	margin: 2px;
	padding: 2px;
	border: solid #888 2px;
}

.error {
	font-weight: bold;
}

.io.area {
	display: grid;
	grid-template-columns: 50% 50%;
}

.scrollable {
	overflow-x: scroll;
	overflow-y: scroll;
}

.space-pre {
	font-family: 'Courier New', Courier, monospace;
	white-space: pre;
}

.area {
	padding: 4px;
}

#codeShowArea {
	min-height: 2em;
	max-height: 16em;
}

#inputShowArea {
	height: 2em;
}

#tapeShowArea {
	height: 2em;
}


/*table*/
#testTableBody {
	max-height: 16em;
	overflow-y: scroll;
}

.testTableTr {
	display: grid;
	grid-template-columns: 7fr 7fr 1fr;
}

.testTableTd {
	margin: 2px;
	min-height: 1em;
	max-height: 4em;
	font-family: 'Courier New', Courier, monospace;
	overflow-x: scroll;
	overflow-y: scroll;
	white-space: pre;
}